<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron UI | Avtar</title>
    <link rel="stylesheet" href="../stylesheets/componentsStyle.css">
    <link rel="stylesheet" href="../stylesheets/indexStyle.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="../javascripts/index.js"></script>
</head>
<body>
    <div class="pagewrap">

        <nav class="nav-bar">
            <div id="navBar" class="leftnav">
                <ul>
                    <li><a href="#" class="left-nav-options left-nav-heading">ElectronUI</a></li>
                    <li><a href="../index.html" class="left-nav-options">Home</a></li>
                    <li><a href="components.html" class="left-nav-options">Components</a></li>
                    <li><a href="avtar.html" class="component-list">Avtaar</a></li>
                    <li><a href="alert.html" class="component-list">Alert</a></li>
                    <li><a href="badge.html" class="component-list">Badge</a></li>
                    <li><a href="button.html" class="component-list">Button</a></li>
                    <li><a href="card.html" class="component-list">Card</a></li>
                    <li><a href="image.html" class="component-list">Image</a></li>
                    <li><a href="textbox.html" class="component-list">TextBox</a></li>
                    <li><a href="list.html" class="component-list">List</a></li>
                    <li><a href="navigation.html" class="component-list">Navigation</a></li>
                    <li><a href="modal.html" class="component-list">Modal</a></li>
                </ul>
            </div>
            <img src="../images/hamburger-white.svg" alt="hamburger" class="hamburger" onclick="openNav()">
            <div class="right-nav">
                <ul>
                    <li><img src="../images/GitHub-Icon.svg" alt="GitHub" class="github" height="32px" width="32px"></li>
                </ul>
            </div>
        </nav>

        <main onclick="closeNav()">
            <div id="avtar" class="component-container">
                <h2>Avtar</h2>
                <p>Avtar is avtar and you cannot do anything about it.</p>
                <div class="component">

                    <div class="component">
                        <img src="../images/male-avtar.svg" alt="male-avtar" class="avtar">
                        <img src="../images/female-avtar.svg" alt="female-avtar" class="avtar">
                    </div>
                    
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10px&lh=185%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252Fimages%252Fmale-avtar.svg%2522%2520alt%253D%2522male-avtar%2522%2520class%253D%2522avtar%2522%253E%250A%253Cimg%2520src%253D%2522..%252Fimages%252Ffemale-avtar.svg%2522%2520alt%253D%2522female-avtar%2522%2520class%253D%2522avtar%2522%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="component">

                    <div class="component">
                        <img src="../images/male-avtar.svg" alt="male-avtar" class="avtar sm">
                        <img src="../images/female-avtar.svg" alt="female-avtar" class="avtar sm">
                    </div>

                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10px&lh=185%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252Fimages%252Fmale-avtar.svg%2522%2520alt%253D%2522male-avtar%2522%2520class%253D%2522avtar%2520sm%2522%253E%250A%253Cimg%2520src%253D%2522..%252Fimages%252Ffemale-avtar.svg%2522%2520alt%253D%2522female-avtar%2522%2520class%253D%2522avtar%2520sm%2522%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="component">

                    <div class="component">
                        <img src="../images/male-avtar.svg" alt="male-avtar" class="avtar lg">
                        <img src="../images/female-avtar.svg" alt="female-avtar" class="avtar lg">
                    </div>
                    
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10px&lh=185%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252Fimages%252Fmale-avtar.svg%2522%2520alt%253D%2522male-avtar%2522%2520class%253D%2522avtar%2520lg%2522%253E%250A%253Cimg%2520src%253D%2522..%252Fimages%252Ffemale-avtar.svg%2522%2520alt%253D%2522female-avtar%2522%2520class%253D%2522avtar%2520lg%2522%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </main>
    </div>
</body>
</html>