<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron UI | Button</title>
    <link rel="stylesheet" href="../stylesheets/componentsStyle.css">
    <link rel="stylesheet" href="../stylesheets/indexStyle.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="../javascripts/index.js"></script>
</head>
<body>
    <div class="pagewrap">

        <nav class="nav-bar">
            <div id="navBar" class="leftnav">
                <ul>
                    <li><a href="#" class="left-nav-options left-nav-heading">ElectronUI</a></li>
                    <li><a href="../index.html" class="left-nav-options">Home</a></li>
                    <li><a href="components.html" class="left-nav-options">Components</a></li>
                    <li><a href="avtar.html" class="component-list">Avtaar</a></li>
                    <li><a href="alert.html" class="component-list">Alert</a></li>
                    <li><a href="badge.html" class="component-list">Badge</a></li>
                    <li><a href="button.html" class="component-list">Button</a></li>
                    <li><a href="card.html" class="component-list">Card</a></li>
                </ul>
            </div>
            <img src="../images/hamburger-white.svg" alt="hamburger" class="hamburger" onclick="openNav()">
            <div class="right-nav">
                <ul>
                    <li><img src="../images/GitHub-Icon.svg" alt="GitHub" class="github" height="32px" width="32px"></li>
                </ul>
            </div>
        </nav>

        <main onclick="closeNav()">
            <div class="component-container">
                <h2>Button</h2>
                <p>Button is button and you cannot do anything about it.</p>

                <!-- Primary & Secondary Button -->
                <div class="component">
                    <h3>Primary & Secondary Button</h3>

                    <div class="component-button">
                        <button class="btn-primary">Primary</button>
                        <button class="btn-secondary">Secondary</button>
                    </div>

                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10px&lh=185%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn-secondary%2522%253ESecondary%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <!-- Button with Icons -->
                <div class="component">
                    <h3>Button with Icons</h3>

                    <div class="component-button">
                        <button class="btn-with-icon color-red">
                            <i class="fa fa-trash"></i>
                            DELETE
                        </button>

                        <button class="btn-with-icon color-blue">
                            SHARE
                            <i class="fa fa-share-square"></i>
                        </button>
                    </div>

                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10px&lh=185%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn-with-icon%2520color-red%2522%253E%250A%2520%2520%2509%253Ci%2520class%253D%2522fa%2520fa-trash%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520DELETE%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn-with-icon%2520color-blue%2522%253E%250A%2520%2520%2509SHARE%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-share-square%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <!-- Icons Button -->
                <div class="component">
                    <h3>Icons Button</h3>

                    <div class="component-button">
                        <button class="btn-icon">
                            <i class="fa fa-save"></i>
                        </button>

                        <button class="btn-icon">
                            <i class="fa fa-cloud-upload"></i>
                        </button>
                    </div>

                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10px&lh=185%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn-icon%2522%253E%250A%2509%253Ci%2520class%253D%2522fa%2520fa-save%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn-icon%2522%253E%250A%2509%253Ci%2520class%253D%2522fa%2520fa-cloud-upload%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <!-- Floating Action Button -->
                <div class="component">
                    <h3>Floating Action Button</h3>

                    <div class="component-button">
                        <button class="btn-float">
                            <i class="fa  fa-plus"></i>
                        </button>

                        <button class="btn-float">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>

                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10px&lh=185%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn-float%2522%253E%250A%2509%253Ci%2520class%253D%2522fa%2520%2520fa-plus%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn-float%2522%253E%250A%2509%253Ci%2520class%253D%2522fa%2520fa-pencil%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>

            </div>
        </main>
    </div>
</body>
</html>