<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron UI | Components</title>
    <link rel="stylesheet" href="../stylesheets/indexStyle.css">
    <link rel="stylesheet" href="../stylesheets/componentsStyle.css">
    <script src="../javascripts/index.js"></script>
</head>
<body>
    <div class="pagewrap">

        <nav class="nav-bar">
            <div id="navBar" class="leftnav">
                <ul>
                    <li><a href="#" class="left-nav-options left-nav-heading">ElectronUI</a></li>
                    <li><a href="../index.html" class="left-nav-options">Home</a></li>
                    <li><a href="components.html" class="left-nav-options">Components</a></li>
                    <li><a href="avtar.html" class="component-list">Avtaar</a></li>
                    <li><a href="alert.html" class="component-list">Alert</a></li>
                    <li><a href="badge.html" class="component-list">Badge</a></li>
                    <li><a href="button.html" class="component-list">Button</a></li>
                    <li><a href="card.html" class="component-list">Card</a></li>
                </ul>
            </div>
            <img src="../images/hamburger-white.svg" alt="hamburger" class="hamburger" onclick="openNav()">
            <div class="right-nav">
                <ul>
                    <li><img src="../images/GitHub-Icon.svg" alt="GitHub" class="github" height="32px" width="32px"></li>
                </ul>
            </div>
        </nav>

        <main onclick="closeNav()">
            
        </main>
    </div>
</body>
</html>