<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron UI | Modal</title>
    <link rel="stylesheet" href="../assests/css/componentsStyle.css">
    <link rel="stylesheet" href="../assests/css/indexStyle.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="../assests/js/index.js"></script>
</head>
<body>
    <div class="pagewrap">

        <nav class="nav-bar">
            <div id="navBar" class="leftnav">
                <ul>
                    <li><a href="#" class="left-nav-options left-nav-heading">ElectronUI</a></li>
                    <li><a href="../index.html" class="left-nav-options">Home</a></li>
                    <li><a href="components.html" class="left-nav-options">Components</a></li>
                    <li><a href="avtar.html" class="component-list">Avtaar</a></li>
                    <li><a href="alert.html" class="component-list">Alert</a></li>
                    <li><a href="badge.html" class="component-list">Badge</a></li>
                    <li><a href="button.html" class="component-list">Button</a></li>
                    <li><a href="card.html" class="component-list">Card</a></li>
                    <li><a href="image.html" class="component-list">Image</a></li>
                    <li><a href="textbox.html" class="component-list">TextBox</a></li>
                    <li><a href="list.html" class="component-list">List</a></li>
                    <li><a href="navigation.html" class="component-list">Navigation</a></li>
                    <li><a href="modal.html" class="component-list">Modal</a></li>
                </ul>
            </div>
            <img src="../assests/images/hamburger-white.svg" alt="hamburger" class="hamburger" onclick="openNav()">
            <div class="right-nav">
                <ul>
                    <li><img src="../assests/images/GitHub-Icon.svg" alt="GitHub" class="github" height="32px" width="32px"></li>
                </ul>
            </div>
        </nav>

        <main onclick="closeNav()">
            <div class="component-container">
                <h2>Modal</h2>
                <p>Modal is a modal and you cannot do anything about it.</p>

                <!-- Simple Modal -->
                <div class="component">
                    <h3>Simple Modal</h3>

                    <button class="btn-primary modal-btn" onclick="openSimpleModal()">Click Me!</button>

                    <div id="modal1" class="simple-modal">
                        <div class="modal-content">
                            <h3>Modal Title</h3>
                            <p>Body of the modal</p>
                            <button class="btn-primary" onclick="closeSimpleModal()">Close</button>
                        </div>
                    </div>

                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=sharp&l=htmlmixed&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10px&lh=185%25&si=false&es=2x&wm=false&code=%253Cdiv%2520id%253D%2522modal1%2522%2520class%253D%2522simple-modal%2522%253E%250A%2509%253Cdiv%2520class%253D%2522modal-content%2522%253E%250A%2509%2509%253Ch3%253EModal%2520Title%253C%252Fh3%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cp%253EBody%2520of%2520the%2520modal%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn-primary%2522%2520onclick%253D%2522closeSimpleModal%28%29%2522%253EClose%253C%252Fbutton%253E%250A%2509%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>

                </div>
             
            </div>
        </main>
    </div>
</body>
</html>