@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  font-family: 'Merriweather', sans-serif;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: inherit; 
}

@media only screen and (max-device-width: 480px)  {
    
    .nav-bar-top {
        background-color: var(--primary-color);
        padding: 0.5rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    
    .nav-heading{
      display: none;
    }

    .leftnav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .left-nav-options {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: var(--dark-color);
        display: block;
        transition: 0.1s;
      }

      .component-list {
        margin-left: 3rem;
      }
      
      .leftnav .closebtn {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2.25rem;
        margin-left: 3.125rem;
      }

      .hamburger {
        flex: 0 1 auto;
        height: 2rem;
        width: 2rem;
      }

      .github {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 8px;
        right: 10px;
      }

      .left-nav-heading {
        letter-spacing: 0.1rem;
        font-family: 'Electrolize', sans-serif;
        font-weight: bold;
      }

      .nav-bar-top-right{
        font-size: 2.5rem;
        font-weight: 500;
        flex: 0 1 auto;
          
      }

      .nav-bar-top-right ul {
          list-style-type: none;
      }

      .head {
        margin: 1rem;
        padding: 0.5rem;
        text-align: center;
        vertical-align: middle;
      }

      .head-img {
        height: 8rem;
        width: 8rem;
      }

      .head-heading {
        color: var(--primary-color);
        padding: 1rem 0;
        letter-spacing: 0.3rem;
        font-family: 'Electrolize', sans-serif;
      }

      .head-content {
        color: var(--secondary-color);
        padding: 0;
        letter-spacing: 0.1rem;
      }

      .btn {
        width: 80%;
        margin-bottom: 0.5rem !important;
      }

      main {
        flex-grow: 1;
      }

      .main-content {
        background-color: var(--bg-color);
        margin: 0.5rem;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        text-align: left;
      }

      iframe {
          border: 0;
          overflow: hidden;
          padding: 0.8rem !important;
      }

      .component-container > h2{
          margin: 1rem;
          font-weight: bold;
      }

      .component-container > p{
          margin: 0.5rem 0.5rem 1rem 1rem;
      }

      .component-bg {
        border: none;
        border-radius: 0.5rem;
        background-color: var(--bg-color);
        padding: 0.8rem;
        margin: 1rem;
        font-weight: 100;
    }

      .component {
          border: 1px solid var(--light-color);
          border-radius: 0.5rem;
          padding: 0.8rem;
          margin: 1rem;
          font-weight: 100;
      }

      .component-card {
        border: none !important;
      }

      button a {
        color: var(--text-color);
        text-decoration: none;
      }

      button a:hover, button a:visited, button a:active, button a:link {
        color: var(--text-color) !important;
      }

}

.github-link{
  color: var(--primary-color);
}

@media only screen and (min-device-width: 481px) {

  button a {
    color: var(--text-color);
    text-decoration: none;
  }

  button a:hover, button a:visited, button a:active, button a:link {
    color: var(--text-color) !important;
  }
  
#page {
  display: grid;
  height: 250px;
  grid-template-areas:"head head"
                      "nav main"
                      "foot foot";
  grid-template-rows: 70px 1fr 30px;
  grid-template-columns: 200px 1fr;
}

#page > header {
  grid-area: head;
}

#page > nav {
  grid-area: nav;
}

#page > main {
  grid-area: main;
}

#page > footer {
  grid-area: foot;
}

#index {
  display: grid;
  height: 250px;
  grid-template-areas:"head head"
                      "main main"
                      "foot foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#index > header {
  grid-area: head;
}

#index > nav {
  display: none;
}

#index > main {
  grid-area: main;
}

#index > footer {
  grid-area: foot;
}

.nav-bar-top {
    background-color: var(--primary-color);
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    width: 100%;
    /* position: absolute; */
}

.nav-bar-top-left{
  align-self: center;
}

.nav-heading{
  display: block;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-family: 'Electrolize', sans-serif;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.nav-bar-top-right ul {
    list-style-type: none;
    padding-left: 45em;
}

.github {
  height: 2rem;
  width: 2rem;
}

nav {
  /* background-color: var(--text-color); */
  max-width: 15rem;
  /* border-right: 1px solid var(--primary-color); */
}

.left-nav-options {
    padding: 0.5rem;
    padding-bottom: 0 !important;
    text-decoration: none;
    color: var(--dark-color);
    display: block;
}

.left-nav-heading {
  display: none;
}

.leftnav{
  /* position: fixed; */
}

.leftnav ul {
  list-style-type: none;
}

.leftnav ul li {
  padding: 0.5rem;
}
  .component-list {
    margin-left: 2rem !important;
    text-decoration: none;
    color: var(--dark-color);
  }
  
  .leftnav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.25rem;
    margin-left: 3.125rem;
  }

  .head {
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
  }

  .head-img {
    height: 12rem;
    width: auto;
  }

  .head-heading {
    color: var(--primary-color);
    padding: 1rem 0;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    font-family: 'Electrolize', sans-serif;
  }

  .head-content {
    color: var(--secondary-color);
    padding: 0;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
  }

  .btn {
    margin: 1rem;
  }

  .btn a{
    text-decoration: none;
  }

  .main-content {
    margin: 0.5rem 2rem;
    display: flex;
  }

  .main-content div {
    margin: 00.5rem 2rem;
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-align: left;
    width: auto;
  }

  .main-content div h3 {
    margin-bottom: 1rem;
  }

  .main-img {
    height: 2rem;
    width: 2rem;
  }

  iframe {
      border: 0;
      overflow: hidden;
      padding: 0.8rem !important;
  }

  footer {
    background-color: var(--bg-color);
    text-align: center;
  }

  .component-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

  .component-container > h2{
      margin: 1rem;
      font-weight: bold;
  }

  .component-container > p{
      margin: 0.5rem 0.5rem 1rem 1rem;
  }

  .component-bg {
    border: none;
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    padding: 0.8rem;
    margin: 1rem;
    font-weight: 100;
}

  .component {
      border: 1px solid var(--light-color);
      border-radius: 0.5rem;
      padding: 0.8rem;
      margin: 1rem;
      font-weight: 100;
      min-width: 20rem;
      max-width: fit-content;
  }

  .component-card {
    border: none !important;
  }
  
}
