@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@media (min-width:320px)  {

    body {
        font-family: 'Merriweather', sans-serif;
     }

    :root{
        --primary-color : #152A5A;
        --secondary-color : #323948;
        --bg-color : #EFEFEF;
        --dark-color : #272C34;
        --light-color : #9e9e9e;
        --primary-hover-color : #0e1d3e;
        --secondary-hover-color: #37393f;
        --text-color : #FFFFF2;
        --error-bg-color : #e57373;
        --warning-bg-color : #fff176;
        --info-bg-color : #64b5f6;
        --success-bg-color : #81c784;
        --blue-color : #1976D2;
        --red-color : #DC004E;
     }

     .avtar {
         height: 3rem;
         width: 3rem;
         border-radius: 50%;
         margin: 0.5rem;
     }

     .sm {
         height: 2rem !important;
         width: 2rem !important;
     }

     .lg {
         height: 4rem !important;
         width: 4rem !important;
     }

     .fa-icon {
        margin: 0 0.8rem 0 0;
    }

     .alert {
        margin: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        color: var(--text-color);
        max-width: 20rem;

    }

    .alert-title {
        font-weight: 500;
    }

    .alert-description {
        display: block;
        padding-left: 1.5rem;
        padding-top: 0.5rem;
        font-size: 0.8rem;
    }

    .error {
        background-color: var(--error-bg-color);
    }

    .warning {
        background-color: var(--warning-bg-color);
    }

    .info {
        background-color: var(--info-bg-color);
    }

    .success {
        background-color: var(--success-bg-color);
    }

    .fa-envelope::before {
        font-size: xx-large;
    }

    .fa-shopping-cart::before {
        font-size: xx-large;
    }

    .badge-content {
        color: var(--text-color);
        margin: 0 !important;
        padding: 0.01rem 0.3rem;
        border-radius: 50%;
        position: relative;
    }

    .badge-icon {
        bottom: 1rem;
        right: 1rem;
    }

    .badge-avtar {
        bottom: 3rem;
        right: 1.6rem;
    }


    .color-red {
        background-color: var(--red-color);
    }

    .color-blue {
        background-color: var(--blue-color);
    }

    .btn-primary {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border: 2px solid var(--primary-color);
        border-radius: 0.5rem;
        background-color: var(--primary-color);
        color: var(--text-color);
        min-width: 8rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
     }


     .btn-secondary {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border: 2px solid var(--primary-color);
        border-radius: 0.5rem;
        background-color: transparent;
        color: var(--primary-color);
        min-width: 8rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
     }

     .btn-with-icon {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        color: var(--text-color);
        min-width: 6rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
     }

     .btn-icon {
        margin: 00.5rem;
        border: none;
        color: var(--blue-color);
        font-weight: 500;
        font-size: 2rem;
        background-color: transparent;
     }

     .btn-float {
         margin: 0.5rem;
         padding: 1rem;
         border: 2px solid var(--blue-color);
         background-color: var(--blue-color);
         color: var(--text-color);
         font-size: 1.5rem;
         border-radius: 50%;
     }

     .fa-trash::before{
         font-size: 1rem;
         margin: 0.5rem;
     }

     .fa-share-square::before{
        font-size: 1rem;
        margin: 0.5rem;
     }


}