@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

 @media (min-width:320px)  {

    body {
        font-family: 'Merriweather', sans-serif;
     }
    
    :root{
        --primary-color : #152A5A;
        --secondary-color : #323948;
        --bg-color : #EFEFEF;
        --dark-color : #272C34;
        --light-color : #9e9e9e;
        --primary-hover-color : #0e1d3e;
        --secondary-hover-color: #37393f;
        --text-color : #FFFFF2;
    }
    
    *, *::before, *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: inherit; 
     }

    .pagewrap {
        display: flex;
        flex-direction: column;
    }
    
    .nav-bar {
        background-color: var(--primary-color);
        padding: 0.5rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    
    .leftnav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .left-nav-options {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: var(--dark-color);
        display: block;
        transition: 0.1s;
      }

      .component-list {
        margin-left: 3rem;
      }
      
      .leftnav .closebtn {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 36px;
        margin-left: 50px;
      }

      .hamburger {
        flex: 0 1 auto;
        height: 32px;
        width: 32px;
      }

      .github {
        height: 32px;
        width: 32px;
        position: absolute;
        top: 8px;
        right: 10px;
      }

      .left-nav-heading {
        letter-spacing: 0.1rem;
        font-family: 'Electrolize', sans-serif;
        font-weight: bold;
      }

      .right-nav{
        font-size: 2.5rem;
        font-weight: 500;
        flex: 0 1 auto;
          
      }

      .right-nav ul {
          list-style-type: none;
      }

      .head {
        margin: 1rem;
        padding: 0.5rem;
        text-align: center;
        vertical-align: middle;
      }

      .head-img {
        height: 128px;
        width: 128px;
      }

      .head-heading {
        color: var(--primary-color);
        padding: 1rem 0;
        letter-spacing: 0.3rem;
        font-family: 'Electrolize', sans-serif;
      }

      .head-content {
        color: var(--secondary-color);
        padding: 0;
        letter-spacing: 0.1rem;
      }

      .btn {
        display: block;
        padding: 0.5rem 1rem !important;
        width: 100%;
      }

      main {
        flex-grow: 1;
      }

      .main-content {
        background-color: var(--bg-color);
        margin: 0.5rem;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        text-align: left;
      }

      iframe {
          border: 0;
          overflow: hidden;
          padding: 0.8rem !important;
          /* margin: 1rem !important; */
      }

      .component-container h2{
          margin: 1rem;
          font-weight: bold;
      }

      .component-container p{
          margin: 0.5rem 0.5rem 1rem 1rem;
      }

      .component {
          border: 1px solid var(--light-color);
          border-radius: 0.5rem;
          padding: 0.8rem;
          margin: 1rem;
          font-weight: 100;
      }
  }
